footer{
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 5% 2%;
}
.copyright{
    margin-top: 2%;
    margin-bottom: 0;
    color: white;
}

@media only screen and (max-width: 480px) {
    footer img{
        width: 100px;
    }
    .copyright{
        font-size: 15px;
    }
  }