.tag {
    background: #ff6060;
    border-radius: 5px;
    color: white;
    padding: 3px 10px;
    margin-right: 8px;
    margin-bottom: 10px;
    min-width: 68px;
    text-align: center;
    }
  
    .tag__text {
      margin: 0;
      font-size: 10px;
      font-weight: 500;
  }
  